@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 10vh;
}

.title{
    font-family:"Raleway", sans-serif;
    color:  #4e740d !important;
    font-weight: bolder;
    font-size: 30pt;
    cursor: pointer;
    text-decoration: none;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.menu > li{
    margin: 10px;
    text-decoration: none;
}

.menu > li > a{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #00000080;
    font-size: 14pt;

}

.menu > li > a:hover{
    color:  #4e740d
  
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.material-symbols-outlined{
    margin: 5px;
    color:  #4e740d;
    cursor: pointer;
    background-color: white;
    border: none;
}

.material-symbols-outlined:hover{
    color: #6ea10e;
    cursor: pointer;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: 60vh;
    z-index: 0;
    background-color:#55741c;

}

.text{
    position: relative;
    font-family: "Raleway", sans-serif;
    width: 350px;
    height: 400px;
    z-index: 3;
    right: 40px;

}

.text > h1 {
    color:  #acca78;
    font-size: 36pt;
    margin-bottom: 18px;
}

.text > p {
    font-size: 13pt; 
    line-height: 1.5; 
    letter-spacing: 1.2px;
    margin-bottom: 60px;
    color: #ffffff;
}

.photo{
    z-index: 4;
}
.photo > figure > img{
    width: 400px;
    border-radius: 10px;
}

.dropbtn {
    color:  #4e740d;
    border: none;
}

main{
    max-width: 100vw;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
    font-family: "Raleway", sans-serif;
    background-color: white;
}
  
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color:  #4e740d;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}

.container-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    font-family: "Raleway", sans-serif;
    color:  #4e740d;   
    max-width: 100vw;
    height: 50vh; 
}

.blocks{
    display: flex;
    flex-direction: row;
}

.frame{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #6ea10e;  
    color:  #6ea10e;  
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    margin: 40px;
}

.frame:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.507);
    transform: translateX(5px);
}

.frame > img{
    left: 65px;
    margin-top: 20px;
    position: relative;
    font-size: 60px;
}

.frame > p {
    margin-top: 20px;
    text-align: center;
    font-size: 13pt;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}